<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Videos Worth Watching by Flatten</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sebastian Borrazas, Santiago Alonso" />
    <meta name="keywords" content="best, youtube, reddit, videos, day, vimeo, picks, zapping, player" />
    <meta name="description" content="Watch the best videos of the day curated by Youtube, Vimeo and Reddit." />

    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" />
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png" />
  </head>
  <body>
    <div class="js-videoPlayer"></div>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
