/* videoPlayer ****************************************************************/
.videoPlayer {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: @videoPlayer--zIndex;
}

.videoPlayer-player {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.videoPlayer-player--vimeo {
  top: -150px;
}

.videoPlayer-controls {
  bottom: 60px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: @videoPlayer-controls--zIndex;
}

.videoPlayer-controlsList {
  .m-borderRadius(4px);
  background: @videoPlayer-controlsList--backgroundColor;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.videoPlayer-control {
  cursor: pointer;
  height: 50px;
  font-size: 50px;
  margin: 5px 10px;
  width: 60px;
}
